Repository GispoCoding/arho-ryhti, pull requests merged in 2024-11, with the labels that each got.

#362 skip deploys if label found
  .github/workflows/deploy.yml
Labels: skip deploy

#364 fix missing gh_token
  .github/workflows/deploy.yml
Labels: skip deploy

#365 Specify the repo in gh command
  .github/workflows/deploy.yml
Labels: skip deploy

#366 fix skip delpoy label check
  .github/workflows/deploy.yml
Labels: skip deploy

#371 Fix permission errors on backport action
  .github/workflows/backport.yml
Labels: backport vsl, skip deploy

#372 fix typo
  .github/workflows/backport.yml
Labels: backport vsl, skip deploy

#373 [Backport vsl] Fix permission errors on backport action
  .github/workflows/backport.yml
Labels: skip deploy

#379 Fix test and code for gateway request body json
  database/ryhti_client/ryhti_client.py
  database/test/test_services.py
Labels: backport vsl

#381 Fix api gateway response json string
  database/ryhti_client/ryhti_client.py
  database/test/test_services.py
Labels: backport vsl

#387 Add new public key
  infra/arho-test.tfvars.enc.json
Labels: skip deploy
